<div class="center jumbotron">
  <div class="card card-header">
    <div class="card-header text-center ">
      <h3>Update profile</h3><br>
    </div>
    <div class="card-body">
      <%= form_for(@user) do |f| %>
        <%= f.label :username, class: "col-sm-4" %>
        <%= f.text_field :username, class: "col-sm-8" %><br><br>
        <%= f.label :password, class: "col-sm-4"  %>
        <%= f.password_field :password, class: "col-sm-8" %><br><br>
        <%= f.submit 'Update', class: "text-center btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
