<body class="signup">
<div class="container-fluid center card">
  <div class="card card-header">
    <div class="card-header text-center ">
      <h3>Sign up</h3><br>
      <% if @user.errors.any? %>
        <%= render 'error_messages' %>
      <% end %>
    </div>

    <div class="card-body">
      <%= form_for @user do |f| %>
        <%= f.label :username, class: "col-sm-4"%>
        <%= f.text_field :username, placeholder: "jane", class: "col-sm-8" %><br><br>
        <%= f.label :email, class: "col-sm-4" %>
        <%= f.text_field :email, placeholder: "jane.doe@example.com", class: "col-sm-8" %><br><br>
        <%= f.label :password, class: "col-sm-4" %>
        <%= f.password_field :password, placeholder: '········', class: "col-sm-8" %><br><br>
        <%= f.submit 'Submit', class: "text-center btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</body>
