<h2> <%= @user.username %></h2>
<% if logged_in? && @user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(@user)%>
<% end %>

<div style="background: transparent" class="container-fluid center jumbotron">
  <% if @user.photos != [] %>
    <% @user.photos.each do |photo| %>
      <div class="col-md-4 card">
        <%= image_tag photo.thumbnail, :class => "img-thumbnail card-img-top" %><br>
        <div class="card-body">
          <%= photo.caption %><br>
          Collected by <%= photo.collector_count %> people
        </div>
        <% if logged_in? && @user == current_user %>
          <%= link_to "Delete photo", user_photo_path(@user, photo), method: "DELETE" %>
        <% elsif logged_in? %>
          <%= link_to "Add to my collection", new_photo_photo_user_path(photo.id) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <br>

  <% if @user == current_user %>
    <%= link_to("Upload Photos", new_user_photo_path(@user)) %>
  <br>
    <%= link_to("Log out", logout_path, :method => 'post') %>
  <% end %>
</div>
