<div class="container-fluid card card-profile">
  <div class="card-header ">
    <h3 class="show-user", id="<%= @user.id%>"><%= @user.username %></h3>
  </div>
  <div class="card-body">
    <% if logged_in? && @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "col-sm-4" %>
      <%= link_to "Upload Photos", new_user_photo_path(@user), class: "col-sm-4" %>
      <%= link_to "Log out", logout_path, :method => 'post', class: "col-sm-4" %>
    <% end %>
  </div>
</div>

<div style="background: transparent" class="container-fluid center jumbotron" id="show-user-photos">
  <br>
  <% if @user == current_user %>
  <br>
  <% end %>
</div>
