<div class="container-fluid card card-profile">
  <div class="card-header ">
    <h3><%= @user.username %></h3>
  </div>
  <div class="card-body">
    <% if logged_in? && @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "col-sm-4" %>
      <%= link_to "Upload Photos", new_user_photo_path(@user), class: "col-sm-4" %>
      <%= link_to "Log out", logout_path, :method => 'post', class: "col-sm-4" %>
    <% end %>
  </div>
</div>

<div style="background: transparent" class="container-fluid center jumbotron">
  <% if @user.photos != [] %>
    <% @user.photos.each do |photo| %>
      <div class="col-md-4 card">
        <%= image_tag photo.thumbnail, :class => "img-thumbnail card-img-top" %><br>
        <div class="card-body">
          <%= photo.caption %><br>
          Collected by <%= photo.collector_count %> people
        </div>
        <% if logged_in? && @user == current_user %>
          <%= link_to "Delete photo", user_photo_path(@user, photo), method: "DELETE" %>
        <% elsif logged_in? %>
          <%= link_to "Add to my collection", new_photo_photo_user_path(photo.id) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <br>

  <% if @user == current_user %>

  <br>

  <% end %>
</div>
