<h2> <%= @user.username %></h2>
<% if logged_in? && @user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(@user)%>
<% end %>

<% if @user.photos != [] %>
  <% @user.photos.each do |photo| %>
    <%= image_tag photo.thumbnail %>
    <%= photo.caption %>
    Collected by <%= photo.collector_count %> people
    <% if logged_in? && @user == current_user %>
      <%= link_to "Delete photo", user_photo_path(@user, photo), method: "DELETE" %>
    <% elsif logged_in? %>
      <%= link_to "Add to my collection", new_photo_photo_user_path(photo.id) %>
    <% end %>
  <% end %>
<% end %>
<br>
<% if @user == current_user %>
  <%= link_to("Upload Photos", new_user_photo_path(@user)) %>
<br>
  <%= link_to("Log out", logout_path, :method => 'post') %>
<% end %>
