<% if !session[:user_id] %>
  <!-- <div class="col-md-12 center jumbotron"> -->
  <div class="jumbotron jumbotron-fluid center ">
    <div class="card card-home">
      <div class="card-header text-center ">
        <h3>Log in / Sign up</h3><br>
      </div>
      <div class="card-body">
        <%= form_tag(login_path) do %>
          <%= label_tag 'email', 'Email Address', class: "col-sm-4" %>
          <%= text_field_tag 'email', nil, placeholder: 'jane.doe@example.com', class: 'col-sm-8' %><br><br>
          <%= label_tag 'password', 'Password', class: "col-sm-4" %>
          <%= password_field_tag 'password', nil, placeholder: '········', class: 'col-sm-8' %><br><br>
          <%= submit_tag "Log In", class: "btn-primary" %><br><br>
        <% end %>
        <%= link_to 'Log in with Facebook', '/auth/facebook' %> or <%= link_to 'Sign up', new_user_path %>
      </div>
    </div>
  </div>

  <div style="background: transparent" class="container-fluid center jumbotron container-home">
    <% Photo.most_recent(6).each do |photo| %>
      <div class="col-md-4 card">
        <%= image_tag photo.thumbnail, :class => "img-thumbnail card-img-top" %>
        <div class="card-block">
          [<strong><%= link_to "#{photo.user.username}", user_path(photo.user) %></strong> - <%= photo.caption %>]
          <% if session[:user_id] %>
            <%= link_to "Add to my collection", new_photo_photo_user_path(photo.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <div style="background: transparent" class="container-fluid center jumbotron">
    <% Photo.ordered_by_date.each do |photo| %>
      <div class="col-md-4 card">
        <%= image_tag photo.thumbnail, :class => "img-thumbnail card-img-top" %>
        <div class="card-block">
          [ <strong><%= link_to "#{photo.user.username}", user_path(photo.user) %></strong> - <%= photo.caption %> ]<br>
          <% if session[:user_id] %>
            <%= link_to "Add to my collection", new_photo_photo_user_path(photo.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
