<body class="signup">
<div class="container-fluid center card">
  <div class="card-header text-center ">
    <%= image_tag @photo.thumbnail, :class => "img-thumbnail card-img-top"%>
  </div>
  <div class="card-block">
    <%= @photo.caption %>
  </div>
</div>

<%= form_for [@photo, @photo_user] do |f| %>
  <%= f.label :label %><br>
  <% PhotoUser.labels.each do |label_name| %>
    <%= f.radio_button :label, label_name %> <%= label_name %> <br>
  <% end %>
  <br>
  <%= f.radio_button :label, 'Other' %> Other (please list):
  <%= f.text_field :label %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
</body>
