<body class="signup">
<div class="container-fluid center card">
  <div class="card card-header">
    <div class="card-header text-center ">
      <h3>Update photo caption</h3><br>

      <% if flash[:error] %>
        <%= render 'error_messages' %>
      <% end %>
    </div>

    </div>
    <div class="card-body">
      <%= form_for @photo do |f| %>
        <%= image_tag @photo.thumbnail %><br><br>
        <%= f.text_field :caption, placeholder: "Update caption" %><br><br>
        <%= f.submit "Update"%>
      <% end %>
    </div>
  </div>
</div>
</body>
