<%= form_for @photo do |f| %>
  <% if @photo.errors.any? %>
    <ul>
    <% @photo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <%= f.file_field :image %>
  <%= f.text_field :caption, placeholder: "Add Caption"%>

  <%= f.submit "Upload photo"%>
<% end %>
