<body class="signup">
  <div class="container-fluid center card show-photo" data-photo-id="<%= @photo.id %>" data-user-id="<%=@photo.user.id%>">
    <div class="card card-header">
    </div>

    <div class="card-body photo-form">
      <div class="show-photo-image">
        <%= image_tag @photo.thumbnail, :class => "img-thumbnail card-img-top" %>
        <div class="card-body">
          [ <strong><%= @photo.user.username %></strong> - <span id="caption"><%= @photo.caption %></span> ]
          <%= @photo.created_at.strftime("%Y-%m-%d")%><br>

          <% if @photo.collectors.length != 0 %>
            collected by:
            <% @photo.collectors.each do |collector| %>
              <span class="underline"><%= link_to "#{collector.username}", user_path(collector) %></span>
            <% end %>
          <% end %>

        </div>
      </div>

      <% if @photo.user == current_user %>
        <div><p><a class="update-caption">Update caption</a></p></div>
      <% end %>

      <div class="caption-form">
      </div>

      <a href="#" class="js-next" data-id="<%=@photo.id%>">Next Photo</a>
    </div>


  </div>
</body>
